
<div class="panel panel-default">
	<div class="panel-heading">
		Menu
	</div>
	<div class="panel-body">
<%= form_for(@menu, html: { class: "form-horizontal", role: "form" }) do |f| %>
  <% if @menu.errors.any? %>
    <div class="alert alert-danger alert-dismissable" role="alert">
      <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
      <h4><%= pluralize(@menu.errors.count, "error") %> prohibited this menu from being saved:</h4>

      <ul>
      <% @menu.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  
  
  <div class="row">
    <div class="col-md-12">
       <div class="form-group">
        <%= f.label :title, "Título:", class: "col-sm-2 control-label" %>
        <div class="col-sm-10">
          <%= f.text_field :title, class: "form-control" , :required => true %>
        </div>
      </div>
    </div>
  </div>
   <div class="row"> 
    <div class="col-md-12">
      <div class="form-group">
        <%= f.label :description, "Descrição:", class: "col-sm-2 control-label" %>
        <div class="col-sm-10">
          <%= f.text_area :description, class: "form-control" , :required => true %>
        </div>
      </div>
    </div>
  </div>
  <div class="row"> 
    <div class="col-md-12">
      <div class="form-group">
        <%= f.label :price, "Preço:", class: "col-sm-2 control-label" %>
        <div class="col-sm-10">
          <%= f.text_area :price, class: "form-control" , :required => true %>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
       <div class="form-group">
        <%= f.label :entrada, "Entrada:", class: "col-sm-2 control-label" %>
        <div class="col-sm-10">
          <%= f.text_area :entrada, class: "form-control" %>
        </div>
      </div>
    </div>
     
    
    </div>
     <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <%= f.label :principal, "Principal:", class: "col-sm-2 control-label" %>
          <div class="col-sm-10">
            <%= f.text_area :principal, class: "form-control" %>
          </div>
        </div>
      </div>
    </div>
  <div class="row">
    <div class="col-md-12">
      <div class="form-group">
        <%= f.label :sobremesa, "Sobremesa:", class: "col-sm-2 control-label" %>
        <div class="col-sm-10">
          <%= f.text_area :sobremesa, class: "form-control" %>
        </div>
      </div>
    </div>
  </div>
  
  <div class="col-md-12">
  
    <div class="form-group">
      <%= f.label :tag_ids, "Tag do Menu:", class: "col-sm-2 control-label" %>
      <div class="col-sm-10">
           <%= f.select :tag_ids, Tag.all.collect { |p| [ p.name, p.id ] }, {prompt: "Selecione as Tags"},
          {:multiple => false, class: "input-md"} %>
       </div>
   </div>
   </div>
  
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <%= f.submit "Atualizar" , class: "btn btn-primary" %>
    </div>
  </div>
<% end %>
  
<div class="col-md-12"> 
    <div class="row">
  		<div id="documents"><%= render partial: 'documents/list', locals: {documentos: @documents} %></div>
    </div>
    <div class="row">
  	<% if @menu.id %>
  		<%= render partial: "documents/new", object: @document, as: 'documentacao' %>
  	<% end %>
    </div>
    
    <div class="row">
      
    </div>
</div>
</div>
