<div class="container">
  <div class="row">
  <%= form_for(resource, as: resource_name, :html => { multipart: true }, url: registration_path(resource_name), html: { :class => 'col-md-9 go-right', method: :put }) do |f| %>
    <%= render 'shared/devisemes' %>


    <div class="form-group">
       <%= f.label :fullname, "Nome do Usuário" %>
      <%= f.text_field :fullname, autofocus: true, :placeholder => "Nome Completo", :class => 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.email_field :email, :placeholder => "Email", :class => 'form-control' , :readonly => true%>
    </div>
    <div class="form-group">
      <%= f.text_field :address, :placeholder => "Endereço", :class => 'form-control' %>
    </div>
    <div class="form-group">
      
      <% if @user.address.length > 0 %>
        <%= render 'location' %>
      <% end %>
      
    </div>
    <div class="form-group">
      <%= f.text_field :phone_number, :placeholder => "Telefone", :class => 'form-control' %>
    </div>
   <div class="form-group">
       <%= f.label :cpf, "CPF:" %>
      <%= f.text_field :cpf, autofocus: true,  :class => 'form-control' %>
    </div>
   
    <div class="form-group">
       <%= f.label :rg, "RG:" %>
      <%= f.text_field :rg, autofocus: true,  :class => 'form-control' %>
    </div>
   <div class="form-group">
     <%= f.label :rg, "Descrição" %>
      <%= f.text_area :description, rows: 15, cols: 25,  :placeholder => "Descrição", :class => 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.label :rg, "Mini-Currículo Profissional" %>
      <%= f.text_area :miniCurriculo, rows: 15, cols: 25, :placeholder => "Mini-Curriculo Profissional", :class => 'form-control' %>
    </div>
    
  

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>Aguardando Confirmação no email: <%= resource.unconfirmed_email %></div>
    <% end %>

    <div class="form-group">
      <%= f.password_field :password, autocomplete: "off", :placeholder => "Mudar Senha (deixe esse campo em branco se não quiser alterar)", :class => 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.password_field :password_confirmation, autocomplete: "off", :placeholder => "Repita a Senha", :class => 'form-control' %>
    </div>
    
    <div class="actions">
      <%= f.submit "Salvar", :class => "btn btn-primary" %>
    </div>
  <% end %>
  </div>
</div>
