<%= form_for @user do |f| %>
<div class="row">

	<div class="col-md-3">
		<div class="center">
			<%= image_tag avatar_url(@user), class: "avatar-full" %>
		</div>
		<div class="panel panel-default">
			<div class="panel-heading">Dados do Usuário</div>	
			<div class="panel-body">
			      <%= @user.fullname %><br>
				<%= @user.email %>
				<div class="form-group">
				<label>Status</label>
				<%= f.select :status, [["Ativo",'active'], ["Faltando Documentos",'pending_docs'], ["Documentos Rejeitados", 'rejected_docs'], ["Profissional",'professional'],["Inativo",'inactive']], id: "status",  class: "form-control" %>
			</div>
		
				<div class="form-group">
				    <div class="col-sm-offset-2 col-sm-10">
				      <%= f.submit "Atualizar" , class: "btn btn-primary" %>
				    </div>
				</div>
			
			
			
			
			</div>
		</div>
		
		
	</div>
    
    
        <div class="col-md-9"> 
        	<div class="panel panel-default">
    			<div class="panel-heading">Documentos</div>	
    		    	<div class="panel-body">
                        <div id="documents"><%= render partial: 'documents/list', locals: {documents: @documents} %></div>
                        
                    </div>
            </div>
        </div>
 

</div>


<% end %>
