<div class="panel panel-default">
	<div class="panel-heading">
		Crie seu local de Eventos
	</div>
	<div class="panel-body">
		<div class="container">
			
			<%= form_for @event, :html => { multipart: true } do |f| %>

				<div class="row">
					<div class="col-md-4 select">
						<div class="form-group">
							<label>Tipo de Eventos</label>
							<%= f.select :event_type, [["Jantar","Jantar"], ["Casamento","Casamento"], ["Formatura","Formatura"]], id: "event_type", prompt: "Escolha...", class: "form-control" %>
						</div>
					</div>

			

					<div class="col-md-4 select">
						<div class="form-group">
							<label>Número de Pessoas</label>
							<%= f.select :number_people, [["1-10",1], ["11-30",2], ["31 a 50",3], ["51-100",4], ["101-200",5], ["Acima de 200",6]], prompt: "Selecione", class: "form-control" %>
						</div>
					</div>
				</div>

		

				<div class="row">
					<div class="form-group">
						<label>Nome do Local</label>
						<%= f.text_field :event_name, placeholder: "Seja claro e descritivo", class: "form-control" %>
					</div>
				</div>

				<div class="row">
					<div class="form-group">
						<label>Resumo</label>
						<%= f.text_area :summary, rows: 5, placeholder: "Resuma seu evento", class: "form-control" %>
					</div>
				</div>

				<div class="row">
					<div class="form-group">
						<label>Endereço</label>
						<%= f.text_field :address, placeholder: "Endereço do evento", class: "form-control" %>
					</div>
				</div>

				<div class="row">
					<div class="col-md-4">
						<div class="form-group">
							<%= f.check_box :is_public %> Evento Público
						</div>
						
					</div>

					
				</div>	

				<div class="row">
					<div class="col-md-4">
						<div class="form-group">
							<label>Preço por Dia</label>
							<div class="input-group">
								<div class="input-group-addon">$</div>
								<%= f.text_field :price, placeholder: "ex. 100", class: "form-control" %>
							</div>	
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-4">
						<div class="form-group">							
							<span class="btn btn-default btn-file">
							    <i class="fa fa-cloud-upload fa-lg"></i> Adicione Fotos
							    <%= file_field_tag "images[]", type: :file, multiple: true %>
							</span>
						</div>		
					</div>
				</div>

				<div id="photos"><%= render 'photos/list' %></div>
			
				<div class="row">
						<div class="col-md-4">
							<div class="panel panel-default">
					 			 <div class="panel-heading preview">
								 
								  	<div id="photos_preview"> </div>
								  	
								</div>
							</div>
						</div>
				</div>

				<div class="row">
					<div class="form-group">
						<%= f.check_box :active %> Ativo
					</div>
				</div>

				<div class="actions">
					<%= f.submit "Salvar", class: "btn btn-primary" %>
				</div>

			<% end %>

		</div>
	</div>
</div>

<script>
$(function() {
  $('#images_').on('change', function(event) {
    var files = event.target.files;
    var image = files[0]
    // here's the file size
    console.log(image.size);
    var reader = new FileReader();
    reader.onload = function(file) {
      var img = new Image();
      console.log(file);
      img.src = file.target.result;
      $('#photos_preview').html(img);
    }
    reader.readAsDataURL(image);
    console.log(files);
  });
});	
	
</script>
