
<%= render 'searchForm' %>

<br>

<%= render 'searchOptions' %>

<br>

<div class="text-center">
	<h2>Ache um Chef, próximo de você</h2>
	
</div>

<br>

<div class="row">
	<% @rooms.each do |room| %>
		
		<div class="col-md-4">
			<div class="panel panel-default">
				<div class="panel-heading preview">
					<%= image_tag room.photos[0].image.url(:medium) if room.photos.length > 0 %>
				</div>
				<div class="panel-body">
					<%= image_tag avatar_url(room.user), class: "img-circle avatar-small" %>&nbsp;
					<%= link_to room.listing_name, room %>
				</div>
			</div>
		</div>

	<% end %>
</div>

<script>
	$(function() {
		$("#start_date").datepicker({
			dateFormat: 'dd-mm-yy',
			minDate: 0,
			maxDate: '3m',
			onSelect: function(selected) {
				$('#end_date').datepicker("option", "minDate", selected);
				$('#end_date').attr('disabled', false);
			}
		});

		$("#end_date").datepicker({
			dateFormat: 'dd-mm-yy',
			minDate: 0,
			maxDate: '3m',
			onSelect: function(selected) {
				$('#start_date').datepicker("option", "maxDate", selected);
			}
		});
	})


</script>
