
	


	<div id="article">
		
		<div class="row">
			
			<div class="col-md-12">

				<%= search_form_for @search, url: search_path do |f| %>
					
					<div class="row">
						<div class="col-md-2">
							<%= text_field_tag :start_date, params[:start_date], placeholder: "Data Inicial", class: "form-control" %>
						</div>
						<div class="col-md-2">
							<%= text_field_tag :end_date, params[:end_date], placeholder: "Data Final", class: "form-control" %>
						</div>
						<div class="col-md-2">
							<%= f.text_field :price_lteq, placeholder: "Preço Mínimo", class: "form-control" %>
						</div>
						<div class="col-md-2">
							<%= f.text_field :price_gteq, placeholder: "Preço Máximo", class: "form-control" %>
						</div>
						<div class="col-md-4">
							<%= f.submit "Buscar", class: "btn btn-primary" %>
						</div>
					</div>

					<hr>

					<div class="row">
						
					</div>

				<% end %>

				<hr>

				<div class="row">
					<% @arrMenus.each do |menu| %>
						
						<div class="col-md-4">
							
							<%= render partial: "shared/menu_thumb", locals: {menu: menu} %>
							
						</div>

					<% end %>
				</div>

			</div>


		</div>

	</div>

</div>

<script>
	$(function() {
		$("#start_date").datepicker({
			dateFormat: 'dd-mm-yy',
			minDate: 0,
			maxDate: '3m',
			onSelect: function(selected) {
				$('#end_date').datepicker("option", "minDate", selected);
				$('#end_date').attr('disabled', false);
			}
		});

		$("#end_date").datepicker({
			dateFormat: 'dd-mm-yy',
			minDate: 0,
			maxDate: '3m',
			onSelect: function(selected) {
				$('#start_date').datepicker("option", "maxDate", selected);
			}
		});
	})
</script>

<script>
	
	$(function(){ // document ready
 
	  if (!!$('.sticky').offset()) { // make sure ".sticky" element exists
	 
	    var stickyTop = $('.sticky').offset().top; // returns number 
	 
	    $(window).scroll(function(){ // scroll event
	 
	      var windowTop = $(window).scrollTop(); // returns number 
	 
	      if (stickyTop < windowTop){
	        $('.sticky').css({ position: 'fixed', top: 0 });
	      }
	      else {
	        $('.sticky').css('position','static');
	      }
	 
	    });
	 
	  }
	 
	});

</script>