<%= form_for([reservable, reservable.reservations.new]) do |f| %>
	
	<div class="row">
		<div class="col-md-12 price_tag">
			<span>$<%= reservable.price %></span>
			<span class="pull-right">Por Dia</span>
		</div>
	</div>

	<div class="row">
		<div class="col-md-6">
			<label>Data do Evento</label>
			
			<%= f.text_field :start_date, readonly: 'true', placeholder: 'Data Inicial', class: 'form-control' %>		
		</div>
	
	</div>

	<%= f.hidden_field :reservable_id, value: reservable.id %>
	<%= f.hidden_field :reservable_type, value: Menu.name%>
	
	
	<%= f.hidden_field :price, value: reservable.price %>
	<%= f.hidden_field :total, id: 'reservation_total' %>

	
	<h4><span id="message"></span></h4>

	<div id="preview" style="display: none">
		<table class="reservation-table" >
			<tbody>
				<tr>
					<td>Dia(s)</td>
					<td><span id="reservation_days"></span></td>
				</tr>
				<tr>
					<td>Total</td>
					<td>$<span id="reservation_sum"></span></td>
				</tr>
			</tbody>
		</table>
		<br>
	</div>
	<h4 class="uppercase">Insira os dados do local do evento:</h4>
 	<div class="form-group">
       <%= f.label :fullname, "Endereço:" %>
      <%= f.text_field :address, autofocus: true, :placeholder => "Nome Completo", :class => 'form-control' %>
    </div>
	
	
	<%= f.submit "Reserve agora", id: "btn_book", class: "btn btn-primary wide", disabled: 'true' %>
	
<% end %>

<script>

	function unavailable(date) {
		dmy = (date.getDate()) + "-" + (date.getMonth()+1) + "-" + date.getFullYear();
		return [$.inArray(dmy, unavailableDates) == -1];
	}

	$(function() {

		unavailableDates = [];

		$.ajax({
			url: '/preload',
			data: {'menu_id': <%= reservable.id %>},
			dataType: 'json',
			success: function(data) {

				$.each(data, function(arrID, arrValue) {
					// for(var d = new Date(arrValue.start_date) ; d <= new Date(arrValue.end_date); d.setDate(d.getDate() + 1)) {
					// 	unavailableDates.push($.datepicker.formatDate('d-m-yy', d));
					// }
					var year = arrValue.start_date.substring(0, 4);
					var month = arrValue.start_date.substring(5, 7) - 1;
					var day = arrValue.start_date.substring(8, 10);
					console.log("ano " + year + "mes " + month + "dia" + day);
					var d = new Date(year, month, day);
					
					console.log("Data d: " + d);
					
					console.log("datepicker" + $.datepicker.formatDate('d-m-yy', d ));
					unavailableDates.push($.datepicker.formatDate('d-m-yy', d ));
				});

				$('#reservation_start_date').datepicker({
					dateFormat: 'dd-mm-yy',
					minDate: 0,
					maxDate: '3m',
					beforeShowDay: unavailable,
					onSelect: function(selected) {
						//$('#reservation_end_date').datepicker("option", "minDate", selected);
						$('#btn_book').attr('disabled', false);

						var start_date = $(this).datepicker('getDate');
						//var end_date = $('#reservation_end_date').datepicker('getDate');
						var days = start_date/1000/60/60/24 + 1

						var input = {
							'start_date': start_date,
							//'end_date': end_date,
							'menu_id': <%= reservable.id %>
						}

						$.ajax({
							url: "/preview",
							data: input,
							success: function(data) {

								if (data.conflict) {

									$('#message').text("Não existe disponibilidade na data informada. ");
									$('#preview').hide();
									$('#btn_book').attr('disabled', true);

								} else {

									$('#preview').show();
									$('#btn_book').attr('disabled', false);

									var total = days * <%= reservable.price %>
									$('#reservation_days').text(days);
									$('#reservation_sum').text(total);
									$('#reservation_total').val(total);
								}
							}
						});
					}
				});

				$('#reservation_end_date').datepicker({
					dateFormat: 'dd-mm-yy',
					minDate: 0,
					maxDate: '3m',
					beforeShowDay: unavailable,
					onSelect: function(selected) {
						$('#reservation_start_date').datepicker("option", "maxDate", selected);

						var start_date = $('#reservation_start_date').datepicker('getDate');
						var end_date = $(this).datepicker('getDate');
						var days = (end_date - start_date)/1000/60/60/24 + 1

						var input = {
							'start_date': start_date,
							'end_date': end_date,
							'menu_id': <%= reservable.id %>
						}

						$.ajax({
							url: "/preview",
							data: input,
							success: function(data) {

								if (data.conflict) {

									$('#message').text("Não existe disponibilidade na data informada. ");
									$('#preview').hide();
									$('#btn_book').attr('disabled', true);

								} else {

									$('#preview').show();
									$('#btn_book').attr('disabled', false);

									var total = days * <%= reservable.price %>
									$('#reservation_days').text(days);
									$('#reservation_sum').text(total);
									$('#reservation_total').val(total);
								}
							}
						});

					}
				});
			}
		});

		

	});
</script>