<div class="row">
	<div class="col-md-3">
		<ul class="sidebar-list">
		
		<li class="sidebar-item"><%= link_to "Seus Trabalhos",seus_trabalhos_path, class: "sidebar-link active" %></li>
			<li class="sidebar-item"><%= link_to "Suas Reservas", suas_reservas_path, class: "sidebar-link" %></li>
		</ul>
	</div>
	<div class="col-md-9">
		<div class="panel panel-default">
			<div class="panel-heading">
				Seus Trabalhos
			</div>
			<div class="panel-body">
				<% @menus.each do |menu| %>
					
					<% menu.reservations.each do |reservation| %>
						<div class="row">
							<div class="col-md-2">
								<%= reservation.start_date.strftime('%v') %>
							</div>	
							<div class="col-md-6">
								<%= link_to menu_path(reservation.reservable) do %>
									<%= image_tag reservation.reservable.documents[0].image.url(:thumb) if reservation.reservable.documents.length > 0 %>
								<% end %>
							</div>	
							<div class="col-md-2">
								<%= link_to user_path(reservation.user) do %>
									<%= image_tag avatar_url(reservation.user), class: "img-circle avatar-medium" %>
								<% end %>	
							</div>	
							<div class="col-md-2 right">
								<h4>$<%= reservation.total %></h4>
							</div>	
						</div>
						<hr>
					<% end %>

				<% end %>

			</div>
		</div>
	</div>
</div>