<div class="page-header">
  <%= link_to new_plan_path,  class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    Novo Plano
  <% end %>
  <h1>Exibindo Planos</h1>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
            <th>Tipo (0-Básico, 1-Profissional)</th>
            <th>Titulo</th>
            <th>Descrição</th>
            <th>Valor Mensal</th>
            <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @plans) do |plan| %>
            <td><%= plan.kind %></td>
            <td><%= plan.title %></td>
            <td><%= plan.description %></td>
            <td><%= plan.value %></td>
            
            <td><%= link_to 'Show', plan %></td>
        <td><%= link_to 'Edit', edit_plan_path(plan) %></td>
        <td><%= link_to 'Destroy', plan, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>
    </tbody>
  </table>
</div>
